<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{consultas.listar.label}"></span>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
              <th th:text="#{consultas.dataHorario.label}"></th>
							<th th:text="#{consultas.emailCliente.label}"></th>
							<th th:text="#{consultas.cpfCliente.label}"></th>
							<th th:text="#{consultas.primeiroNomeCliente.label}"></th>
							<th th:text="#{consultas.sobrenomeCliente.label}"></th>
              <th th:text="#{consultas.telefoneCliente.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="consulta : ${consultas}">
							<td th:text="${consulta.dataHorario}"></td>
							<td th:text="${consulta.getCliente().email}"></td>
							<td th:text="${consulta.getCliente().cpf}"></td>
							<td th:text="${consulta.getCliente().primeiroNome}"></td>
							<td th:text="${consulta.getCliente().sobrenome}"></td>
							<td th:text="${consulta.getCliente().telefone}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
