<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{profissionais.listar.label}"></span>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container" id="listagem">

      <form
				th:action="@{/listarProfissionais}" method="GET">

				<div class="form-row">
					<div class="form-group">
						<label th:text="#{profissionais.especialidade.label}" for="especialidade"></label>
						<input type="text" class="form-control" id="especialidade" autofocus="autofocus"
							name="especialidade"
				</div><br>

				<button type="submit" th:text="#{select.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
			<br>

			<div th:replace="fragments/alert"></div>

			<div sec:authorize="hasAuthority('CLIENTE')" class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th th:text="#{profissionais.email.label}"></th>
							<th th:text="#{profissionais.cpf.label}"></th>
							<th th:text="#{profissionais.primeiroNome.label}"></th>
							<th th:text="#{profissionais.sobrenome.label}"></th>
							<th th:text="#{profissionais.especialidade.label}"></th>
							<th th:text="#{profissionais.qualificacoes.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="profissional : ${profissionais}">
							<td><a class="nav-link " th:href="@{/cliente/agendarConsulta/} + ${profissional.id}"> <i
									class="oi"></i> <span th:text="${profissional.email}"></span>
							</a></td>
							<td th:text="${profissional.cpf}"></td>
							<td th:text="${profissional.primeiroNome}"></td>
							<td th:text="${profissional.sobrenome}"></td>
							<td th:text="${profissional.especialidade}"></td>
							<td th:text="${profissional.qualificacoes}"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div sec:authorize="!hasAuthority('CLIENTE')" class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th th:text="#{profissionais.email.label}"></th>
							<th th:text="#{profissionais.cpf.label}"></th>
							<th th:text="#{profissionais.primeiroNome.label}"></th>
							<th th:text="#{profissionais.sobrenome.label}"></th>
							<th th:text="#{profissionais.especialidade.label}"></th>
							<th th:text="#{profissionais.qualificacoes.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="profissional : ${profissionais}">
							<td th:text="${profissional.email}"></td>
							<td th:text="${profissional.cpf}"></td>
							<td th:text="${profissional.primeiroNome}"></td>
							<td th:text="${profissional.sobrenome}"></td>
							<td th:text="${profissional.especialidade}"></td>
							<td th:text="${profissional.qualificacoes}"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
